{% extends 'base.html.twig' %}

{% block title %}{% trans %}Forgotten Password{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {
            '0': {
                'name': 'Login'|trans({}),
                'path': path('app_login'),
                'icon': 'fa fa-user'
            },
            '1': {
                'name': 'Forgotten password'|trans({}),
                'path': path('app_forgotten_password'),
                'icon': 'fa fa-user'
            }
        } 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block content %}
    <section class="card">
        <div class="card-header border-bottom">
            <h4 class="card-title mb-1">{% trans %}Forgotten Password{% endtrans %}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                <label for="inputEmail" class="sr-only">{% trans %}Email{% endtrans %}</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="{% trans %}Email{% endtrans %}" required autofocus>
                <hr>
                <button class="btn btn-lg btn-primary" type="submit">
                    {% trans %}Send mail{% endtrans %}
                </button>
         
            </form>
        </div>
    </section>
{% endblock %}
