{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {
            '0': {
                'name': 'Login'|trans({}),
                'path': path('app_login'),
                'icon': 'fa fa-user'
            },
            '1': {
                'name': 'Reset password'|trans({}),
                'path': null,
                'icon': 'fa fa-user'
            }
        } 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block content %}
    <section class="card">
        <div class="card-header border-bottom">
            <h4 class="card-title mb-1">{% trans %}Reset Password{% endtrans %}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required>
                <input type="hidden" name="token" value="{{ token }}">
                <hr>
                <button class="btn btn-lg btn-primary" type="submit">
                    {% trans %}Reset{% endtrans %}
                </button>
            </form>
        </div>
    </section>
{% endblock %}
