###> symfony/framework-bundle ###
/.composer.lock
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/reports/
/var/
/vendor/
###< symfony/framework-bundle ###
.DS_Store

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
nohup.out


