/* Global */
.h-0 {height: 0!important;}

/* Header Search Icon */
.header-navbar .navbar-container ul.nav li a.nav-link-search {
  padding: 1.6rem 1rem 1.35rem 1rem;
}

/* Search Function */
div.search-input input {
  color:black;
}
ul.search-list {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}

/* Menu User Icon Correction */
div.main-menu-content i.fa-user {
  padding-left: 2px;
}


/* Form errors */
form .form-label-group ul,
form .form-group ul {
  padding-left: 1rem;
}

/* FAQ */
.faq-bg {
    background: url(../../../app-assets/images/pages/faq.jpg) no-repeat;
        background-size: auto;
    -webkit-background-size: cover;
    background-size: cover;
    height: 270px;
}

/* Stripe form */
.StripeElement {
	box-sizing: border-box;

	height: 40px;

	padding: 10px 12px;

	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;
	color: black;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}
.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
	border-color: #fa755a;
}
.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

/* DataList */
.data-list-view-header .top {
  margin-bottom: 0 !important;
}
.data-list-view-header .table {
  margin-top: 0 !important;
}

/* Apex Chart */
.apexcharts-toolbar {
  z-index: 0!important;
}

/* Cards Color */
/* .card-header, .data-list-view-header .top  {
  background-color: #7367F0!important;
  color: white!important;
}
.card-title, .data-list-view-header .top h5 {
  color: white!important;
} */
/* Tables Border */
.table-responsive {
  border-radius: 0.2rem;
}
.dataTables_length, .dataTables_filter {
  vertical-align: middle!important;
  height: 100%;
}
.dataTables_length label, .dataTables_filter label {
  margin: 0.5rem!important;
}
.data-list-view-header .actions {
  margin: 0.5rem!important;
}
.data-list-view-header .actions h5 {
  margin: 0!important;
}