{% extends 'base.html.twig' %}

{% block title %}WebSpider | {% trans %}Modules{% endtrans %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}WebSpider | {% trans %}Modules{% endtrans %}{% endblock %}
{% block og_description %}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {'0': {
            'name': 'Modules',
            'path': path('module'),
            'icon': 'fa fa-cubes'
        },'1': {
            'name': 'New',
            'path': null,
            'icon': 'fa fa-plus'
        }} 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <!-- Content -->
    <form method="POST" class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header mb-1 border-bottom">
                    <div class="col-12 row">
                        <div class="col-6">
                            <h4 class="card-title">Configuration</h4>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn-outline-success mb-1">
                                <i></i> Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <fieldset class="form-label-group">
                                <input name="name" type="text" class="form-control" id="name" placeholder="Module Name" required>
                                <label for="name">Module Name</label>
                            </fieldset>
                            <a class="btn btn-outline-success w-100" onclick="addDoubleInput();">
                                <i class="fa fa-plus"></i> Injectable variable
                            </a>
                            <div id="variables-injection"></div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <fieldset class="form-label-group">
                                <textarea required name="description" class="form-control active" id="textarea-description" rows="3" placeholder="Description" style="color: rgb(78, 81, 84);"></textarea>
                                <label for="textarea-description">Description</label>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Script</h4>
                </div>
                <div class="card-content">
                    {% include "module/_codeEditor.html.twig" %}
                </div>
            </div>
        </div>
    </form>
    <!--/ Content -->
    <script>
        {# Variables Injection #}
        function addDoubleInput(name) {
            var target = $("#variables-injection");
            var inputKey = '<div class="col-lg-12"><div class="input-group mt-1"><div class="input-group-prepend"><span class="input-group-text" id="injection-var-key">Key</span></div><input type="text" class="form-control" id="injection-var-key" name="variablesInjection[]" aria-describedby="Variable key"></div></div>';
            // var inputValue = '<div class="col-lg-6"><div class="input-group mt-1"><div class="input-group-prepend"><span class="input-group-text" id="injection-var-value">Value</span></div><input type="text" class="form-control" id="injection-var-value" name="variablesInjection[injection][values][]" aria-describedby="Variable value"></div></div>';
            target.append(inputKey); 
        }
    </script>
    
{% endblock %}

{% block javascripts %}  
{% endblock %}