{% extends 'base.html.twig' %}

{% block title %}Module | {{ module.name }}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}Module | {{ module.name }}{% endblock %}
{% block og_description %}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = 
        {'0': {
            'name': 'Modules',
            'path': path('module'),
            'icon': 'fa fa-cubes'
        },'1': {
            'name': module.name,
            'path': null,
            'icon': 'fa fa-cube'
        }} 
    %}
    {% include '_breadcrumb.html.twig' with breadcrumb %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header mb-1 border-bottom">
                    <div class="col-12 row">
                        <div class="col-6">
                            <h4 class="card-title">Configuration</h4>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn-outline-primary mb-1">
                                <i class="fa fa-play"></i> Execute
                            </button>
                            <button type="submit" class="btn btn-outline-warning mb-1">
                                <i class="fa fa-play"></i> Edit
                            </button>
                            <button type="submit" class="btn btn-outline-danger mb-1">
                                <i></i> Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Script</h4>
                </div>
                <div class="card-content">
                    {% include "module/_codeEditor.html.twig" %}
                </div>
            </div>
        </div>
    </div>
    <!--/ Content -->
    
{% endblock %}

{% block javascripts %}  
{% endblock %}