<div class="card">
    <section id="data-list-errors" class="data-list-view-header">
        <div class="table-responsive">
            <table class="table data-list-errors p-0 table-striped table-hover-animation">
                <thead>
                    <tr>
                        <th class="pl-2">Type</th>
                        <th>Url</th>
                        <th class="text-right">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for error in errors %}
                        <tr>
                            <td>
                                <div class="badge badge-danger">
                                    {{ error.type }}
                                </div>
                            </td>
                            <td>
                                {{ error.url }}
                            </td>
                            <td class="text-right">
                                {{ error.message }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>

<script>
    window.onload = function(){
        var dataListView = $('.data-list-errors').DataTable({
            responsive: false,
            columnDefs: [{
            orderable: true,
            targets: 0,
            // checkboxes: { selectRow: true },
            }],
            "dom": '<"top"<"actions action-btns"B><"action-filters"lf>><"clear">rt<"bottom"<"actions">p>',
            "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": ""
            },
            "aLengthMenu": [[4, 10, 15, 20], [4, 10, 15, 20]],
            select: {
            selector: 'td:first-child',
            style: 'multi'
            },
            order: [[0, 'asc']],
            bInfo: false,
            "pageLength": 10,
            buttons: [
            {
                text: "<h5><i class='feather icon-info'></i> Errors</h5>"
            }
            ],
            initComplete: function (settings, json) {
            $(".dt-buttons .btn").removeClass("btn-secondary");
            },
        });
    }
</script>